---
# tasks file for mediawiki

- name: import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: yes
  delegate_to: localhost

- name: create directory
  ansible.builtin.file:
    path: "{{ mediawiki_destination }}"
    state: directory
    mode: "0755"

- name: install requirements
  ansible.builtin.package:
    name: "{{ mediawiki_requirements }}"
    state: present
  notify:
    - restart httpd

- name: install mediawiki
  ansible.builtin.unarchive:
    src: "{{ mediawiki_source }}"
    dest: "{{ mediawiki_destination }}"
    remote_src: yes
    creates: "{{ mediawiki_destination }}/mediawiki-{{ mediawiki_version }}"
    setype: httpd_sys_script_rw_t
    mode: "0755"

- name: is MediaWiki dir present?
  stat:
    path: "{{ mediawiki_destination }}/{{ mediawiki_name_prefix }}{{ mediawiki_name }}-{{ mediawiki_version }}"
  register: stat_mediawiki_dir
  when: mediawiki_name != "mediawiki"

- name: discard existing MediaWiki dir
  file:
    path: "{{ mediawiki_destination }}/{{ mediawiki_name_prefix }}{{ mediawiki_name }}-{{ mediawiki_version }}"
    state: absent
  when:
    - stat_mediawiki_dir
    - mediawiki_name != "mediawiki"

- name: rename mediawiki directory
  command: mv "{{ mediawiki_destination }}/mediawiki-{{ mediawiki_version }}" "{{ mediawiki_destination }}/{{ mediawiki_name_prefix }}{{ mediawiki_name }}-{{ mediawiki_version }}"
  when: mediawiki_name != "mediawiki"

- name: link mediawiki to versioned directory
  ansible.builtin.file:
    src: "{{ mediawiki_destination }}/{{ mediawiki_name }}-{{ mediawiki_version }}"
    dest: "{{ mediawiki_destination }}/{{ mediawiki_name_prefix }}{{ mediawiki_name }}"
    state: link
    mode: "0755"

- name: link mediawiki to docroot
  ansible.builtin.file:
    src: "{{ mediawiki_destination }}/{{ mediawiki_name }}"
    dest: "{{ mediawiki_docroot }}/{{ mediawiki_name_prefix }}{{ mediawiki_name }}"
    state: link
    mode: "0755"
  when: mediawiki_destination != mediawiki_docroot
